<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum,
          consequuntur qui! Magnam iure repellat accusantium! Ratione ullam
          possimus aspernatur maxime non molestiae eaque ut ad aut modi
          provident, tenetur, perspiciatis tempora vitae autem qui voluptatem
          blanditiis officia quas repellat nobis. Placeat maiores laborum sit
          omnis id similique rerum excepturi ipsa, possimus eos minus! Tempore
          incidunt animi porro odit dolore, sed laborum quibusdam. Adipisci
          reiciendis voluptatum possimus, numquam ipsam labore optio aut
          delectus quia corporis, magni explicabo odio? Modi odit praesentium id
          numquam esse, velit doloribus consequuntur asperiores pariatur porro
          blanditiis! Laboriosam exercitationem tempore ad iusto amet ullam
          quaerat ab doloremque harum, unde error facere dolorum deserunt atque
          tempora alias laudantium! Quo consequuntur ipsum explicabo error
          dignissimos hic, culpa, consequatur, corrupti vel ipsam nam quam
          excepturi itaque similique iure nulla natus. Praesentium eos adipisci
          laboriosam qui quia soluta quod iste in ipsa labore! Nobis ipsa
          molestias beatae corporis impedit unde quos dolore tempora aut
          explicabo pariatur asperiores, ad aspernatur minus ea eum nisi vero
          culpa reiciendis obcaecati ducimus. Facilis quibusdam earum sunt
          repellat ut aliquid laudantium quidem esse quae animi vel minus iusto,
          consequuntur a tempora neque voluptatum mollitia ratione
          necessitatibus dolor labore. Repellat, dignissimos delectus laboriosam
          dolor rerum amet expedita doloribus ut, itaque iusto maiores
          distinctio non fuga optio quod incidunt est cum aspernatur quis,
          excepturi dolorum necessitatibus! Unde sunt eveniet adipisci
          quibusdam, earum sapiente rem culpa nobis dolores, optio maiores quos
          ullam eaque quia esse veniam cupiditate ducimus quasi fugit veritatis
          itaque sed ratione. Voluptatum autem qui unde dignissimos hic
          perferendis omnis odio vitae pariatur, illum id cum placeat quae
          similique deleniti! Corporis recusandae quaerat animi voluptate odio
          tenetur eum asperiores soluta quos aperiam impedit aspernatur modi
          dolorum, nulla natus vel sapiente reprehenderit maiores, hic laborum
          amet? Inventore aut corrupti veritatis, animi fugiat blanditiis nam
          quod saepe maxime sapiente!
        </p>
      </section>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
